.Feature__action-btn{
  padding: 1.2rem .2rem;
  background-color: transparent;
  margin-left: -3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px $note-color solid;
  border-radius: 110rem;

}