.GetStarted{
  background-image: url("./../../assets/StartUpBack.svg");
  background-size: cover;
  background-position: center;
  height: 67rem;
  //background-color: #00A4EF;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;

}