.Header {
  padding: 1rem 0;
  background-color: #FDF9F3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__logo{
    width: 11rem;
  }
  &__features {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;


    &__link{
      margin: 0 .25rem;
      text-decoration: none;
      padding: 1.2rem 1.8rem;
      color: #FDF9F3;
      background-color: #00c8d7;
      transition: .4s;
      border-radius: 3px;
      &-note{
        background-color: $note-color;
        &:hover{
          background-color: darken($note-color, 10%);
        }
        &:active{
          background-color: #4f834e;
        }

      }
      &-plan{
        background-color: $plan-color;
        &:hover{
          background-color: #6cc788;
        }
        &:active{
          background-color: #3da15c;
        }
      }
      &-income{
        background-color: $income-color;
        &:hover{
          background-color: #b35e5e;
        }
        &:active{
          background-color: #8b4242;
        }
      }

      &:hover{
        //background-color: darken(50%);
      }
      &-name{
        font-size: 1.8rem;
        font-family: 'Roboto', sans-serif;

        @include respond(tab-land) {
          font-size: 1.2rem;
        }
        letter-spacing: 1px;
      }
    }
  }
  &__sign{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__link{
      color: #269aea;
      margin: 0 .5rem;
      text-decoration: none;
      border: 2px #269aea solid;
      padding: 1.4rem  .3rem;
      background-color: transparent;
      border-radius: 110rem;
      cursor: pointer;
      letter-spacing: 1px;
      font-weight: bold;

      &:focus{
        outline: none;
      }
      &-name{
        border-radius: 110rem;
        font-size: 1.8rem;
        @include respond(tab-land) {
          font-size: 1.2rem;
        }
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        padding: 1.1rem 2.5rem;
        transition: all .4s;

        &:hover{
          background-color: #269aea;
          color: #fff;
        }
        &:active{
          background-color: #0f629b;
        }
      }
    }
  }


}