.NoteSettingFontAlign {
  //background-color: #7FBA00;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  //background-color: transparent;
  text-align: center;

  &-icon {
  }

  & > * {
    background-color: transparent;
    align-self: center;
    justify-items: center;
    justify-content: center;
    fill: darken(#fff, 15%);
    border: none;
    width: 4rem;
    cursor: pointer;
    &:hover{
      fill: darken(#fff, 30%);
    }
  }
}