.NoteItem {
    text-align: center;
    height: 15rem;
    margin: 1.5rem;
    background-color: darken($note-color, 25%);
    cursor: pointer;

    &__header {
        background-color: darken($note-color, 30%);
        padding: 1rem 0;
        font-family: 'Be Vietnam', sans-serif;
        color: darken(#fff, 15%);
        letter-spacing: 1.5px;
    }
    &__noteSummary{
        font-size: 2rem;
        margin-top: .25rem;
    }

}