//Colors
$red-color-main: #F25022;
$green-color-main: #7FBA00;
$yellow-color-main: #FFB900;
$blue-color-main: #00A4EF;

$note-color: #64ccda;
$note-color-dark: darken(#64ccda, 15%);
$note-color-darker: darken(#64ccda, 25%);

$plan-color: #91d5a6;
$plan-color-dark: #6cc788;
$plan-color-darker: #47b96a;

$income-color: #be7575;


$white-color-2: #f7f7f7;
$white-color-3: #eee;
$white-color-4: #ddd;